body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

h1 {
  text-align: center;
}

input {
  width: calc(100% - 80px);
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  border-radius: 4px;
  font-size: 20px;
}
li:hover {
  background-color: #ddd;
  transition: 0.2s;
}

button {
  background-color: #1bec08;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
